.container {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  padding: 30px;
  margin-left: 4vw;
  margin-right: 4vw;
  max-width: 100%;
  row-gap: 30px;
}
    @media (min-width:1000px) {
    .container {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}
.container > div {
  padding: 20px;
  font-size: 4vw;
  text-align: center;
}
     @media (min-width:1000px) {
    .container > div {
        font-size: 2.25vw;
    }
}
.zoom:hover {
  transform: scale(1.1); 
  transition: transform .2s
}

       

 
.layout {
  width: 100%;
  display: grid;
  grid:
    "header" 
    "main" 
    "footer"
    / 100%;
  background-color:#FFDF00;
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
}


  
.box1 {
  padding: 10px;
  max-width: 300%;
  max-height: 100%;
}
.box2 {
  border: 5px solid #ED64F5;
  padding: 30px;
  max-width: 100%;
  max-height: 300px;
  border-radius: 25px;
  overflow:auto;
}
.updates {
  text-align: left;    
    }
.header { grid-area: header; 
  align-items: center;
  max-width: 100%;
  margin-left: 4vw;
  margin-right: 4vw;
}
    @media (min-width:1000px) {
    .header {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.main { grid-area: main;
  font-size: 22px;
  justify-self: center;
}

.footer { grid-area: footer; 
  justify-self: center;
}
  
